.Searchbar {
  display: flex;
  justify-content: center;
  align-items: center;

  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.SearchForm {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 609px;
  background-color: #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.SearchForm-input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: none;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #f2f2f2;
}

.SearchForm-input::placeholder {
  font-size: 18px;
  text-align: center;
}
.SearchForm-button {
  display: inline-block;
  width: 120px;
  height: 44px;
  border: 0;
  cursor: pointer;
  outline: none;
  background-color: #d22c32;
  border-radius: 0px 5px 5px 0px;
}

.SearchForm-button-label {
  color: #ffffff;
}
