html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: 1px solid tomato;
}

body {
  /* width: 1591px; */

  margin: 0;

  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;

  color: #ffffff;

  background-image: url('./components/images/image.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
